@function form-check-box-svg($color) {
  @return url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/></svg>");
}

@function form-check-radio-svg($color) {
  @return url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$color}'/></svg>");
}

@function form-check-indeterminate-svg($color) {
  @return url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='none' stroke='#{$color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/></svg>");
}

@mixin form-check-light {
  --checkbox-label-color: var(--content-primary);
  --checkbox-border-color: var(--border-primary);
  --checkbox-bg: var(--bg-light-primary);

  // Hover
  --checkbox-hover-border-color: var(--border-hover);

  // Checked
  --checkbox-checked-bg: var(--bg-accent-01);
  --checkbox-checked-border-color: var(--bg-accent-01);
  --checkbox-checked-background-image: #{escape-svg(
      form-check-box-svg($content-primary-dark)
    )};

  // Indeterminate
  --checkbox-indeterminate-background-image: #{escape-svg(
      form-check-indeterminate-svg($content-primary-dark)
    )};

  // Checked & hover
  --checkbox-hover-checked-bg: var(--bg-accent-02);
  --checkbox-hover-checked-border-color: var(--bg-accent-02);

  // Focus
  --checkbox-focus-border-color: var(--border-primary);

  // Disabled
  --checkbox-disabled-bg: var(--bg-light-disabled);
  --checkbox-disabled-border-color: var(--border-disabled);

  // Disabled & checked
  --checkbox-disabled-checked-background-image: #{escape-svg(
      form-check-box-svg($content-disabled-dark)
    )};

  // Disabled & indeterminate
  --checkbox-disabled-indeterminate-background-image: #{escape-svg(
      form-check-indeterminate-svg($content-disabled-dark)
    )};
}

@mixin form-check-dark {
  --checkbox-label-color: var(--content-primary-dark);
  --checkbox-border-color: var(--border-primary-dark);
  --checkbox-bg: var(--bg-dark-primary);

  // Hover
  --checkbox-hover-border-color: var(--border-hover-dark);

  // Checked
  --checkbox-checked-bg: var(--bg-accent-03);
  --checkbox-checked-border-color: var(--bg-accent-03);
  --checkbox-checked-background-image: #{escape-svg(
      form-check-box-svg($content-primary)
    )};

  // Indeterminate
  --checkbox-indeterminate-background-image: #{escape-svg(
      form-check-indeterminate-svg($content-primary)
    )};

  // Checked & hover
  --checkbox-hover-checked-bg: var(--bg-accent-03);
  --checkbox-hover-checked-border-color: var(--bg-accent-03);

  // Focus
  --checkbox-focus-border-color: var(--border-primary-dark);

  // Disabled
  --checkbox-disabled-bg: var(--bg-dark-disabled);
  --checkbox-disabled-border-color: var(--border-disabled-dark);

  // Disabled & checked
  --checkbox-disabled-checked-background-image: #{escape-svg(
      form-check-box-svg($content-disabled-dark)
    )};

  // Disabled & indeterminate
  --checkbox-disabled-indeterminate-background-image: #{escape-svg(
      form-check-indeterminate-svg($content-disabled-dark)
    )};
}

@mixin light-input {
  --input-field-color: var(--content-primary);
  --input-field-bg: var(--bg-light-primary);
  --input-field-border-color: var(--border-primary);
  --input-placeholder-content: var(--content-placeholder);
  --input-border-hover: var(--border-hover);
  --input-field-content-disabled: var(--content-disabled);
}

@mixin dark-input {
  --input-field-color: var(--content-primary-dark);
  --input-field-bg: var(--bg-dark-primary);
  --input-field-border-color: var(--border-primary-dark);
  --input-placeholder-content: var(--content-placeholder-dark);
  --input-border-hover: var(--border-hover-dark);
  --input-field-content-disabled: var(--content-disabled-dark);
}

:root {
  @include form-check-light;
  @include light-input;
}

@include theme('default') {
  .ide-redesign-main,
  .project-ds-nav-page {
    @include form-check-dark;
  }

  .project-ds-nav-page {
    .form-control,
    .form-control-wrapper {
      @include dark-input;
    }
  }
}

#storybook-root {
  @include theme('default') {
    @include form-check-dark;
  }
}

.form-check-input {
  &:hover {
    &:not(:disabled) {
      border-color: var(--border-hover);

      &:checked,
      &[type='checkbox']:indeterminate {
        background-color: var(--bg-accent-02);
        border-color: var(--bg-accent-02);
      }
    }
  }

  &:disabled {
    @include input-disabled-styles;

    &[type='checkbox']:indeterminate {
      @include input-disabled-styles;

      background-image: escape-svg(form-check-indeterminate-svg($neutral-40));
    }
  }

  // Use disabled attribute in addition of :disabled pseudo-class
  // See: https://github.com/twbs/bootstrap/issues/28247
  &[disabled],
  &:disabled {
    ~ .form-check-label {
      color: $input-disabled-color;
    }

    &:checked {
      &[type='checkbox'] {
        background-image: escape-svg(form-check-box-svg($neutral-40));
      }

      &[type='radio'] {
        background-image: escape-svg(form-check-radio-svg($neutral-40));
      }
    }
  }

  &:focus-visible {
    outline: 0;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
}

// TODO: compare to live storybook
// NOTE: Nesting inside .form-checkbox to avoid affecting other form checks
// such as input switches and radio buttons.
.form-checkbox {
  .form-check-input {
    background-color: var(--checkbox-bg);
    border-color: var(--checkbox-border-color);

    &:checked,
    &:indeterminate {
      background-color: var(--checkbox-checked-bg);
      border-color: var(--checkbox-checked-border-color);
    }

    &:checked {
      background-image: var(--checkbox-checked-background-image);
    }

    &:indeterminate {
      background-image: var(--checkbox-indeterminate-background-image);
    }

    &:hover {
      &:not(:disabled) {
        border-color: var(--checkbox-hover-border-color);

        &:checked,
        &:indeterminate {
          background-color: var(--checkbox-hover-checked-bg);
          border-color: var(--checkbox-hover-checked-border-color);
        }
      }
    }

    &:disabled {
      background-color: var(--checkbox-disabled-bg);
      border-color: var(--checkbox-disabled-border-color);

      &:indeterminate {
        background-color: var(--checkbox-disabled-bg);
        border-color: var(--checkbox-disabled-border-color);
        background-image: var(
          --checkbox-disabled-indeterminate-background-image
        );
      }
    }

    // Use disabled attribute in addition of :disabled pseudo-class
    // See: https://github.com/twbs/bootstrap/issues/28247
    &[disabled],
    &:disabled {
      ~ .form-check-label {
        color: $input-disabled-color;
      }

      &:checked {
        background-image: var(--checkbox-disabled-checked-background-image);
      }
    }

    &:focus-visible {
      border-color: var(--checkbox-focus-border-color);
    }
  }
}

.form-check-label {
  color: var(--checkbox-label-color);
}

// Fake disabled checkbox style
.readonly-disabled-checkbox input.form-check-input {
  @include input-disabled-styles;

  &:hover:not(:disabled):checked {
    @include input-disabled-styles;
  }
}

.form-switch {
  .form-check-input {
    --bs-form-check-bg: var(--bg-dark-tertiary);

    height: 20px;
    margin: 0;
    border: 0;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      opacity: 0.32;
      background-color: var(--bg-dark-tertiary);

      &:checked {
        background-color: var(--bg-accent-01);
        background-image: #{escape-svg(
            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#{$component-active-color}'/></svg>")
          )};
      }
    }
  }
}

.form-check-label-description {
  .form-text-inner {
    margin-top: var(--spacing-01) !important;
  }
}

.form-text {
  .form-control[disabled] ~ & {
    color: var(--content-disabled);
  }

  .form-text-inner {
    display: flex;
    gap: var(--spacing-02);
    line-height: var(--line-height-02);
    margin-top: var(--spacing-04);
  }

  &.marginless {
    &,
    .form-text-inner {
      margin: 0;
    }
  }
}

.form-label {
  &:has(+ .form-control[disabled], + .form-control-wrapper-disabled) {
    color: var(--content-disabled);
  }
}

.form-group {
  margin-bottom: $form-group-margin-bottom;
}

.form-control-wrapper {
  position: relative;

  &.form-control-wrapper-disabled {
    .form-control-start-icon,
    .form-control-end-icon {
      & > * {
        color: var(--content-disabled);
      }
    }
  }

  .form-control-start-icon,
  .form-control-end-icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;

    &:has(> i),
    &:has(> .material-symbols) {
      pointer-events: none;
    }
  }

  .form-control-start-icon {
    left: 0;
    padding-left: calc(var(--form-control-padding-x) + var(--bs-border-width));
  }

  .form-control-end-icon {
    right: 0;
    padding-right: calc(var(--form-control-padding-x) + var(--bs-border-width));

    .form-control-search-clear-btn {
      @include reset-button;

      display: flex;
      justify-content: center;
      color: var(--input-field-color);
    }
  }

  --icon-width: 20px;
  --form-control-padding-x: var(--spacing-04);
  --form-control-icon-offset-y: var(--spacing-04);

  &.form-control-wrapper-sm {
    --form-control-padding-x: var(--spacing-03);
    --form-control-icon-offset-y: var(--spacing-02);
  }

  &.form-control-wrapper-lg {
    --form-control-padding-x: var(--spacing-05);
    --form-control-icon-offset-y: var(--spacing-05);
  }

  .form-control-offset-start {
    padding-left: calc(
      var(--form-control-padding-x) + var(--form-control-icon-offset-y) +
        var(--icon-width)
    );
  }

  .form-control-offset-end {
    padding-right: calc(
      var(--form-control-padding-x) + var(--form-control-icon-offset-y) +
        var(--icon-width)
    );
  }
}

.form-control,
.form-select {
  &:focus,
  &:invalid:focus,
  &.is-invalid:focus,
  &:focus-visible,
  &:invalid:focus-visible,
  &.is-invalid:focus-visible {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    outline: 0;
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
}

.website-redesign {
  label {
    color: $form-text-color;
    display: inline-block;
    margin-bottom: var(--spacing-02);
    font-weight: bold;

    @include body-sm;
  }

  .checkbox-label {
    margin-left: var(--spacing-04);
  }

  .form-check-label {
    color: var(--checkbox-label-color);
  }
}

%input-focus-style {
  border-color: $input-focus-border-color;
  box-shadow: $form-check-input-focus-box-shadow;
}

input[type='range'] {
  display: block;
  width: 100%;
}

// Feedback states
.has-success {
  @include form-control-validation($bg-accent-01);
}

.has-warning {
  @include form-control-validation($bg-warning-03);
}

.has-error {
  @include form-control-validation($bg-danger-01);
}

.form-control {
  &[disabled],
  &:disabled {
    &::placeholder {
      color: var(--input-field-content-disabled);
    }
  }
}

input.form-control[type='text'] {
  color: var(--input-field-color);
  background-color: var(--input-field-bg);
  border-color: var(--input-field-border-color);

  &::placeholder {
    color: var(--input-placeholder-content);
  }

  &:focus,
  &:focus-visible {
    color: var(--input-field-color);
    background-color: var(--input-field-bg);
    border-color: var(--input-border-hover);
  }
}

// ============================================
// Dark Theme Override - Blitch Monochrome Style
// Consistent with AI Chat, Team Chat, Settings
// Green accents preserved for focus/checked states
// ============================================

$form-bg-dark: #0D0D0D;
$form-bg-input: #2C2C2C;
$form-bg-hover: #2A2A2A;
$form-text-primary: #FFFFFF;
$form-text-secondary: #A0A0A0;
$form-text-muted: #666666;
$form-border-subtle: rgba(255, 255, 255, 0.08);
$form-border-default: rgba(255, 255, 255, 0.12);
$form-border-focus: rgba(255, 255, 255, 0.24);

.ide-redesign-main {
  // Override form CSS variables
  --input-field-color: #{$form-text-primary};
  --input-field-bg: #{$form-bg-input};
  --input-field-border-color: #{$form-border-default};
  --input-placeholder-content: #{$form-text-muted};
  --input-border-hover: #{$form-border-focus};
  --input-field-content-disabled: #{$form-text-muted};

  // Checkbox variables
  --checkbox-label-color: #{$form-text-secondary};
  --checkbox-border-color: #{$form-border-default};
  --checkbox-bg: #{$form-bg-input};
  --checkbox-hover-border-color: #{$form-border-focus};
  --checkbox-checked-bg: var(--green-50);
  --checkbox-checked-border-color: var(--green-50);
  --checkbox-hover-checked-bg: var(--green-40);
  --checkbox-hover-checked-border-color: var(--green-40);
  --checkbox-focus-border-color: var(--green-50);
  --checkbox-disabled-bg: #{$form-bg-hover};
  --checkbox-disabled-border-color: #{$form-border-subtle};

  // Form controls
  .form-control,
  .form-select {
    background: $form-bg-input;
    border: 1px solid $form-border-default;
    color: $form-text-primary;
    border-radius: 8px;
    transition: all 0.15s;

    &::placeholder {
      color: $form-text-muted;
    }

    &:hover:not(:disabled):not(:focus) {
      border-color: $form-border-focus;
    }

    &:focus,
    &:focus-visible {
      background: $form-bg-input;
      border-color: var(--green-50);
      box-shadow: 0 0 0 2px rgba(var(--green-50), 0.2);
      outline: none;
    }

    &:disabled,
    &[disabled] {
      background: $form-bg-hover;
      color: $form-text-muted;
      opacity: 0.6;
    }
  }

  // Form labels
  .form-label,
  label {
    color: $form-text-secondary;
  }

  // Form text/hints
  .form-text {
    color: $form-text-muted;

    .form-text-inner {
      color: $form-text-muted;
    }
  }

  // Form groups
  .form-group {
    .form-control:focus + .form-text,
    .form-control:focus-visible + .form-text {
      color: $form-text-secondary;
    }
  }

  // Form control wrapper
  .form-control-wrapper {
    .form-control-start-icon,
    .form-control-end-icon {
      color: $form-text-muted;

      & > * {
        color: inherit;
      }
    }

    .form-control-search-clear-btn {
      color: $form-text-muted;
      border-radius: 4px;

      &:hover {
        color: $form-text-primary;
        background: $form-bg-hover;
      }
    }
  }

  // Checkboxes
  .form-check-input {
    background: $form-bg-input;
    border: 1px solid $form-border-default;
    border-radius: 4px;

    &:hover:not(:disabled) {
      border-color: $form-border-focus;
    }

    &:checked {
      background-color: var(--green-50);
      border-color: var(--green-50);
    }

    &:focus-visible {
      border-color: var(--green-50);
      box-shadow: 0 0 0 2px rgba(var(--green-50), 0.2);
    }
  }

  .form-check-label {
    color: $form-text-secondary;
  }

  // Switch
  .form-switch {
    .form-check-input {
      background-color: $form-bg-hover;
      border: none;

      &:checked {
        background-color: var(--green-50);
      }
    }
  }

  // Validation states
  .has-error {
    .form-control {
      border-color: #ef4444;

      &:focus {
        border-color: #ef4444;
        box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.2);
      }
    }

    .form-text,
    .help-block {
      color: #ef4444;
    }
  }

  .has-success {
    .form-control {
      border-color: var(--green-50);

      &:focus {
        box-shadow: 0 0 0 2px rgba(var(--green-50), 0.2);
      }
    }
  }

  .has-warning {
    .form-control {
      border-color: #f59e0b;

      &:focus {
        border-color: #f59e0b;
        box-shadow: 0 0 0 2px rgba(245, 158, 11, 0.2);
      }
    }
  }

  // Range input
  input[type='range'] {
    background: transparent;

    &::-webkit-slider-track {
      background: $form-bg-hover;
      border-radius: 4px;
    }

    &::-webkit-slider-thumb {
      background: var(--green-50);
      border: none;
    }
  }

  // Select dropdown
  .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23A0A0A0' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");

    &:focus {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    }
  }
}
